.login-wrapper{
  margin:20px auto auto;
  width: 35%;
  margin-top: 200px;
  margin-left: 850px;
}

.bg{
  background-image: url('https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&w=750&h=550&dpr=2');
}

.dispblog{
  margin-left: 200px;

}

.dispin{
  margin-top: 50px;
  margin-left: 50px;

}

.text-align-center{
  text-align: center;
}

.p-10{
  padding: 10px;
}

.mr-10{
  margin-right: 10px;
}

.non-link{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.blogs-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogs-children{
  margin: 10px auto 10px auto;
}

.font-size-smaller{
  font-size: smaller;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}